<%
if respond_to?(:current_component) && current_component && can_be_managed?(current_component)
  edit_link(
    manage_component_path(current_component),
    :read,
    :component,
    component: current_component,
    current_participatory_space: current_participatory_space
  )
end
%>
<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    <div class="off-canvas position-right hide-for-large" data-position="right"
         id="offCanvas" data-off-canvas>
      <!-- Close button -->
      <button class="close-button"
              aria-label="<%= t("layouts.decidim.header.close_menu") %>" type="button"
              data-close>
        <span aria-hidden="true">&times;</span>
      </button>
      <!-- Menu -->
      <div class="hide-for-medium" data-set="nav-holder"></div>
      <div class="hide-for-medium usermenu-off-canvas-holder"
           data-set="nav-login-holder"></div>
      <div class="hide-for-medium mt-s ml-s mr-s search-off-canvas-holder"
           data-set="nav-search-holder"></div>
    </div>
    <div class="off-canvas-content" data-off-canvas-content>
      <div class="footer-separator">
        <!--separates the footer from the rest of the page,
             creates a sticky footer-->
        <div class="header" role="banner">
          <!-- Topbar -->
          <div class="title-bar">
            <%= link_to t("skip_button", scope: "decidim.accessibility"), url_for(anchor: "content"), class: "skip" %>
            <% if current_organization.official_img_header.attached? %>
              <%= link_to  current_organization.official_url, class: "logo-cityhall" do %>
                <%= image_tag current_organization.attached_uploader(:official_img_header).path, alt: current_organization.name %>
              <% end %>
            <% end %>
            <div class="row column topbar">
              <div class="logo-wrapper">
                <svg width="253" height="75" viewBox="0 0 473 157" fill="inherit" xmlns="http://www.w3.org/2000/svg">
                  <g>
                      <path d="M45.0149 47.8766C59.024 39.6163 73.9672 42.1206 84.4987 54.4891C85.5409 55.7143 85.4897 57.5252 84.3687 58.6808C84.3545 58.6945 84.343 58.708 84.3283 58.7206C83.0912 59.9998 81.0296 59.9941 79.8229 58.6891C71.0596 49.2137 59.4449 47.2703 48.0579 53.3692C46.4887 54.2091 44.5399 53.5445 43.789 51.9336C43.7811 51.9175 43.7736 51.8998 43.7645 51.8816C43.0831 50.4247 43.6271 48.6944 45.0149 47.8766Z" fill="#0172BB"/>
                      <path d="M73.4662 35.6881C72.9138 38.9622 69.8119 41.1705 66.5365 40.623C63.2615 40.0739 61.0539 36.9756 61.6046 33.7011C62.157 30.427 65.259 28.2187 68.5344 28.7661C71.8104 29.3147 74.017 32.4135 73.4662 35.6881Z" fill="#0172BB"/>
                      <path d="M35.509 92.1184C35.367 75.8677 45.0203 64.1842 61.0116 61.2422C62.5951 60.9521 64.1381 61.9018 64.5789 63.448C64.5838 63.4659 64.5886 63.4838 64.594 63.5027C65.0826 65.2128 64.0449 66.9925 62.3094 67.387C49.7111 70.2423 42.2108 79.3243 41.7926 92.2255C41.7347 94.0031 40.183 95.3578 38.4108 95.2044C38.3914 95.2018 38.3732 95.2013 38.3544 95.1997C36.7494 95.0614 35.5233 93.7275 35.509 92.1184Z" fill="#DB0F10"/>
                      <path d="M39.1955 61.4067C41.7559 63.5173 42.117 67.307 40.0011 69.8678C37.8867 72.429 34.0956 72.7923 31.5352 70.6817C28.9752 68.5694 28.613 64.7804 30.729 62.2196C32.8449 59.6588 36.6354 59.2944 39.1955 61.4067Z" fill="#DB0F10"/>
                      <path d="M69.0832 122.432C54.931 114.443 49.6421 100.254 55.1019 84.9436C55.6417 83.4279 57.2379 82.5655 58.7993 82.9577C58.8166 82.9615 58.8346 82.9663 58.8535 82.9705C60.5788 83.4031 61.6017 85.1891 61.074 86.888C57.24 99.2181 61.3533 110.244 72.3227 117.047C73.8334 117.984 74.231 120.004 73.2103 121.46C73.1996 121.477 73.1887 121.492 73.1784 121.508C72.2553 122.827 70.4846 123.223 69.0832 122.432Z" fill="#FDB620"/>
                      <path d="M44.3183 103.909C47.4307 102.747 50.8936 104.326 52.0536 107.435C53.2143 110.546 51.6314 114.008 48.519 115.17C45.4066 116.332 41.9437 114.753 40.783 111.643C39.6236 108.535 41.2059 105.071 44.3183 103.909Z" fill="#FDB620"/>
                      <path d="M112.163 108.503C98.1531 116.765 83.2108 114.26 72.6783 101.893C71.6362 100.667 71.6878 98.8549 72.8094 97.7003C72.8219 97.6862 72.835 97.6731 72.8482 97.66C74.0859 96.3819 76.1468 96.3865 77.3542 97.6926C86.1185 107.167 97.7305 109.111 109.119 103.012C110.688 102.172 112.636 102.836 113.389 104.446C113.396 104.464 113.404 104.48 113.412 104.499C114.094 105.955 113.549 107.686 112.163 108.503Z" fill="#E53990"/>
                      <path d="M83.7119 120.693C84.2632 117.419 87.3656 115.209 90.64 115.758C93.916 116.306 96.1242 119.405 95.5718 122.679C95.0205 125.953 91.9181 128.163 88.6431 127.614C85.3671 127.065 83.1595 123.967 83.7119 120.693Z" fill="#E53990"/>
                      <path d="M121.667 64.2623C121.81 80.5124 112.157 92.1975 96.1649 95.1384C94.583 95.429 93.0389 94.4799 92.5991 92.9331C92.5937 92.9142 92.5879 92.8969 92.5825 92.878C92.0955 91.1684 93.1325 89.3876 94.8686 88.9942C107.467 86.1388 114.966 77.0574 115.385 64.1556C115.442 62.3786 116.995 61.0223 118.767 61.1767C118.786 61.1783 118.804 61.1788 118.823 61.1803C120.427 61.3193 121.654 62.6542 121.667 64.2623Z" fill="#24A620"/>
                      <path d="M117.981 94.974C115.422 92.8627 115.06 89.0747 117.175 86.5129C119.291 83.9521 123.081 83.5867 125.642 85.7C128.203 87.8117 128.564 91.5987 126.448 94.1605C124.333 96.7223 120.543 97.0867 117.981 94.974Z" fill="#24A620"/>
                      <path d="M88.0939 33.9495C102.245 41.9383 107.535 56.1277 102.076 71.4365C101.535 72.9529 99.9396 73.8147 98.3787 73.4235C98.3608 73.4187 98.3429 73.4139 98.3239 73.4097C96.5982 72.9787 95.5747 71.1917 96.1025 69.4928C99.9375 57.1621 95.8231 46.1366 84.8538 39.3334C83.343 38.3966 82.947 36.3768 83.9666 34.9189C83.9785 34.9037 83.9878 34.8888 83.9997 34.8736C84.9221 33.553 86.6935 33.1585 88.0939 33.9495Z" fill="#32318F"/>
                      <path d="M112.858 52.4716C109.746 53.6334 106.283 52.0548 105.124 48.946C103.964 45.8356 105.546 42.372 108.658 41.2102C111.771 40.0483 115.233 41.6286 116.394 44.7362C117.553 47.8472 115.972 51.3092 112.858 52.4716Z" fill="#32318F"/>
                  </g>
                  <style>
                      .digi{
                          font-family: 'Barlow', sans-serif, system-ui;
                          font-weight: 300;
                          font-size: 72px;
                      }
                      .graetzl{
                          font-family: 'Noto Serif Display';
                          font-weight: 500;
                          font-size: 58px;
                      }
                      .location{
                          font-family: 'Barlow', sans-serif, system-ui;
                          font-weight: 500;
                          font-size: 24px;
                          text-transform: uppercase;
                      }
                      .wolfganggasse{
                          letter-spacing: 0.44rem;
                      }
                      .lebenscampus{
                          letter-spacing: 0.58rem;
                      }
                  </style>
                  <%
                  current_organization.name = 'lebenscampus';
                  %>
                  <text x="155" y="80" fill="#000" class="digi">DIGI<tspan class="graetzl">grätzl</tspan></text>
                  <text x="162" y="128" fill="#000" class="location <%= current_organization.name%>"><%= current_organization.name%></text>
              </svg>
              </div>
              <%= render partial: "layouts/decidim/language_chooser" %>
              <% if current_user %>
                  <nav class="topbar__dropmenu topbar__user__logged" aria-label="<%= t("layouts.decidim.header.user_menu") %>">
                    <%= link_to decidim.notifications_path, class: "topbar__notifications #{current_user.notifications.any? ? "is-active" : ""}" do %>
                        <%= icon "bell", role: "img", aria_label: t("layouts.decidim.user_menu.notifications") %>
                    <% end %>
                    <%= link_to decidim.conversations_path, class: "topbar__conversations #{current_user.unread_conversations.any? ? "is-active" : ""}" do %>
                        <%= icon "envelope-closed", role: "img", aria_label: t("layouts.decidim.user_menu.conversations") %>
                    <% end %>
                    <ul class="dropdown menu" data-dropdown-menu
                        data-autoclose="false"
                        data-disable-hover="true"
                        data-click-open="true"
                        data-close-on-click="true"
                        role="menubar">
                        <li class="is-dropdown-submenu-parent show-for-medium" role="presentation">
                        <%= link_to current_user.name, decidim.account_path, id: "user-menu-control", "aria-controls": "user-menu", "aria-haspopup": "menu", "aria-label": t("layouts.decidim.user_menu.account", name: current_user.name), "role": "menuitem" %>
                        <ul class="menu is-dropdown-submenu" id="user-menu" role="menu" aria-labelledby="user-menu-control">
                            <%= render partial: "layouts/decidim/user_menu" %>
                        </ul>
                        <div data-set="nav-login-holder" class="show-for-medium">
                            <!-- Repeated due to dropdown limitations -->
                            <ul class="menu is-dropdown-submenu js-append usermenu-off-canvas">
                            <%= render partial: "layouts/decidim/user_menu" %>
                            </ul>
                        </div>
                        </li>
                    </ul>
                  </nav>
              <% else %>
                <div class="topbar__user show-for-medium" data-set="nav-login-holder">
                  <div class="topbar__user__login js-append">
                    <% if current_organization.sign_up_enabled? %>
                      <%= link_to t("layouts.decidim.header.sign_up"), decidim.new_user_registration_path, class: "sign-up-link" %>
                    <% end %>
                    <%= link_to t("layouts.decidim.header.sign_in"), decidim.new_user_session_path, class: "sign-in-link" %>
                  </div>
                </div>
              <% end %>
              <%= render partial: "layouts/decidim/admin_links" %>
              <div class="hide-for-medium topbar__menu">
                <button type="button" data-toggle="offCanvas" aria-label="<%= t("layouts.decidim.header.navigation") %>">
                  <%= icon "menu", aria_label: t("layouts.decidim.header.navigation"), role: "img" %>
                </button>
              </div>
            </div>
          </div>
          <div class="show-for-medium" data-set="nav-holder">
            <div class="navbar js-append">
              <div class="row column menubar">
                <%= main_menu.render %>
                <%= render partial: "layouts/decidim/topbar_search" %>
              </div>
            </div>
          </div>
        </div>

        <main id="content">
          <%= display_flash_messages %>
          <%= yield %>
        </main>
      </div>
      <div class="footer" role="contentinfo">
        <%= render partial: "layouts/decidim/main_footer" %>
        <%= render partial: "layouts/decidim/mini_footer" %>
      </div>
    </div>
  </div>
</div>
