<% add_decidim_page_title(t("devise.sessions.new.sign_in")) %>

<div class="wrapper">
  <div class="row collapse">
    <div class="row collapse">
      <h1 class="text-center" style="margin-bottom:1.5rem;font-size:2rem;">DIGIgrätzl ist <br> die Hausplattform für den Lebenscampus.</h1>
      <div class="columns large-8 large-centered page-title">
        <p>Als Bewohner:in kannst Du:
          <ul>
            <li>Dich hier mit Deinen <strong>Nachbar:innen verbinden</strong>;</li>
            <li>Gegenstände <strong>tauschen</strong> und <strong>teilen</strong>;</li>
            <li><strong>Gemeinsame</strong> Aktivitäten in den Gemeinschaftsräumen <strong>planen</strong>;</li>
            <li>Dir wichtige <strong>Hausthemen</strong> einbringen</li>
            <li>und vieles andere.</li>
          </ul>
          Registriere Dich jetzt und entdecke <strong>Deine Hausplattform</strong>. 
          Die Plattform legt hohen Wert auf Datenschutz und erfasst nur wenige persönliche Daten. 
          Solltest Du mehr wissen wollen, <a href="/pages/help">schau in unser Hilfe-Menü</a>.
          </p>
          <p class="text-center">Wir wünschen Dir viel Spaß auf <span style="font-weight:600;">DIGIgrätzl</span>.</p>
        </p>
      </div>
    </div>
    <div class="row collapse">
      <div class="columns large-8 large-centered text-center page-title">
        <h2 style="font-size:3rem;"><%= t("devise.sessions.new.sign_in") %></h2>
        <% if current_organization.sign_up_enabled? %>
          <p>
            <%= t(".are_you_new?") %>
            <%= link_to t(".register"), new_user_registration_path %>
          </p>
        <% elsif current_organization.sign_in_enabled? %>
          <p>
            <%= t(".sign_up_disabled") %>
          </p>
        <% else %>
          <p>
            <%= t(".sign_in_disabled") %>
          </p>
        <% end %>
      </div>
    </div>
    

    <% cache current_organization do %>
      <%= render "decidim/devise/shared/omniauth_buttons" %>
    <% end %>

    <% if current_organization.sign_in_enabled? %>
      <div class="row">
        <div class="columns large-6 medium-centered">
          <div class="card">
            <div class="card__content">
              <%= decidim_form_for(resource, namespace: "session", as: resource_name, url: session_path(resource_name), html: { class: "register-form new_user" }) do |f| %>
                <div>
                  <div class="field">
                    <%= f.email_field :email, autocomplete: "email" %>
                  </div>
                  <div class="field">
                    <%= f.password_field :password, autocomplete: "current-password" %>
                  </div>
                </div>
                  <% if devise_mapping.rememberable? %>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                    </div>
                  <% end %>
                <div class="actions">
                  <%= f.submit t("devise.sessions.new.sign_in"), class: "button expanded" %>
                </div>
              <% end %>
              <%= render "decidim/devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
